<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secret</key>
	<string>77abbce3f579492502ecb93387c50f1b</string>
	<key>base.url</key>
	<string>NSURL(https://api.openweathermap.org)</string>
</dict>
</plist>
